body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1e2b;
    overflow: hidden;
    color: #eee;
    scrollbar-width: thin;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif, apple-system,
        BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.confirm-btn {
    background-color: #7cbfaf;
    border-radius: 7px;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
}

.paper {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #292d3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}
