@use 'styles/theming/colors.scss' as *;

.navbar {
    a {
        color: $text-2;
        &:hover {
            text-decoration: none;
        }
    }

    display: flex;
    padding: 1rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;

    .logo {
        cursor: pointer;
        display: flex;
        font-family: 'JetBrains Mono', monospace;
        align-items: center;
        span {
            font-size: 1.5rem;
            margin-left: 0.8rem;
        }
    }

    .right {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin: 0 1rem;
            a {
                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .left {
        display: flex;
        align-items: center;
        .content {
            margin-left: 2.5rem;
            display: flex;
            list-style: none;
            a {
                &:hover {
                    color: $primary;
                    padding-bottom: 0.5rem;
                    border-bottom: 3px solid $primary;
                }
            }
        }
    }
}
