@use '../../styles/theming/colors.scss' as *;

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    .modal-content {
        display: flex;
        outline: none;
        border-radius: 5px;
        padding: 2rem;
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $bg-dark-1;
        color: $text-1;
        .success {
            color: $success;
        }
    }
}
