@use '../../styles/theming/colors.scss' as *;

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    .modal-content {
        display: flex;
        border-radius: 5px;
        padding: 2rem;
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $bg-dark-1;
        color: $text-1;
        .success {
            color: #fff;
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    .subtext {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
        font-weight: 100;
        margin-top: 0.5rem;
    }
}

.alternative {
    margin-top: 2rem;
    margin-bottom: 0;
    color: $text-1;
    opacity: 0.4;
}

.oauth {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    a {
        font-size: 2.5rem;
        color: $text-1;
        background: transparent;
        margin: 0 0.5rem;
        border: none;
        opacity: 0.4;
        outline: none;
        cursor: pointer;
    }
}

.google {
    &:hover {
        color: #ea4335;
        opacity: 1;
    }
}

.github {
    &:hover {
        color: #000;
        opacity: 1;
    }
}

.email {
    color: inherit;
    display: inline-block;
    cursor: pointer;
    margin-left: 0;
    margin-right: 3px;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
    border: none;
    text-decoration: underline;
}
