@use '../../styles/theming/colors.scss' as *;

.root {
    display: flex;
    flex-direction: column;
    background-color: $bg-dark-4;
    color: $text-1;
    height: 100%;
    width: 200px;
}

.header {
    padding: 0 1rem;
    h1 {
        font-size: 1.2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
