@use '../../styles/theming/colors.scss' as *;

.root {
    display: flex;
    flex-direction: column;
    background-color: $bg-dark-4;
    color: $text-1;
    height: 100%;
    width: 230px;
    max-width: 230px;
}

.header {
    padding: 1rem;
    border-bottom: 1px solid $bg-dark-1;
}

.user {
    width: 100%;
    display: flex;
    outline: none;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    cursor: pointer;
    border: none;
    padding: 0;

    &:hover {
        color: $primary;
    }

    div {
        display: flex;
        padding-right: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        h1 {
            font-size: 1rem;
            padding-left: 9px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 9px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-1;
    padding: 2rem;
    outline: none;
}

.account-modal-title {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #fff;
}

.account-modal-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 1rem 24px;
    background-color: $bg-dark-1;
    color: $text-1;
    outline: none;
    border-radius: 5px;
}

.account-modal-body {
    display: flex;
    flex-direction: column;
}

.account-info-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 0.5rem;
    .account-info-item-heading {
        display: inline-block;
        font-size: 1rem;
    }
    .account-info-item-body {
        display: inline-block;
        flex-direction: column;
        padding: auto;
        text-align: start;
        width: 260px;
        line-height: 0.2rem;
    }
    p {
        line-height: 1rem;
    }
    .disabled-change {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
    a {
        margin: auto 0;
        display: block;
        height: 1.3rem;
        text-decoration: none;
        cursor: pointer;
    }
}

.password-modal-paper {
    background-color: $bg-dark-1;
}

.password-modal-form {
    > * {
        margin-bottom: 1rem;
    }
}

.success-modal-content {
    display: flex;
    flex-direction: column;
    outline: none;
    border-radius: 5px;
    padding: 1rem 24px;
    max-width: 500px;
    background-color: $bg-dark-1;
    color: $text-1;
    .success {
        font-size: 1.3rem;
        margin: 0;
        color: #fff;
    }
    .actions {
        display: flex;
        justify-content: flex-end;
    }
}
