@use 'styles/theming/colors.scss' as *;

.notes-menu {
    height: 100%;
    overflow-y: overlay;
    max-height: 100%;
    width: 300px;
    min-width: 200px;
    color: #8e94b2;
    background-color: #1b1e2b;
    > * {
        padding: 0 1rem;
    }
    header {
        display: flex;
        height: 131px;
        flex-direction: column;
        border-bottom: 1px solid #292d3e;
        .row1,
        .row2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .row2 {
            align-items: center;
        }

        .row1 {
            align-items: center;
            h1 {
                font-size: 1.2rem;
            }
        }
    }
}

.menu-item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 1.4rem;
    mark {
        color: $primary;
        background-color: transparent;
    }
}

.sort-option-type {
    .not-selected {
        opacity: 0.3;
    }
    .descending {
        margin-right: 5px;
    }
}

.invisible {
    visibility: hidden;
}

.search-bar {
    display: inline-flex;
    width: 100%;
    padding: 1rem 0;
    margin-right: 5px;
    align-items: center;
    .icon {
        padding: 0.8rem;
        position: absolute;
    }

    input {
        background-color: $bg-dark-1;
        color: $text-1;
        border: 0;
        width: 100%;
        padding: 1rem;
        padding-left: 2.8rem;
        border-radius: 40px;
        outline: none;
        &::placeholder {
            color: $text-1;
            opacity: 0.5;
        }
    }
}

.list {
    max-height: calc(100% - 131px);
    margin: 0;
    padding: 0;
    overflow: auto;
}
