.notes-menu {
    height: 100%;
    width: 300px;
    color: #8e94b2;
    background-color: #1b1e2b;
    overflow-y: auto;
    > * {
        padding: 0 1rem;
    }
    header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #292d3e;
        .row1,
        .row2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

// .invisible {
//     visibility: hidden;
// }

.sort-option-type {
    .not-selected {
        opacity: 0.3;
    }
    .descending {
        margin-right: 5px;
    }
}

.invisible {
    visibility: hidden;
}
