.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #292d3e;
    width: calc(100% - 300px - 230px);
    .editor-main {
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
    }
}
