.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #292d3e;
    width: calc(100% - 300px);
    .editor-main {
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
    }
}

.side-menu {
    height: 100%;
    width: 300px;
    color: #8e94b2;
    background-color: #1b1e2b;
    overflow-y: auto;
    > * {
        padding: 0 1rem;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
}
